<mat-nav-list>
  <div>
    <h2 matSubheader><mat-icon>menu</mat-icon>Meni</h2>
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item class='item' routerLinkActive = 'list-item-active' (click)='prikaziNarudzbine()'>Narudzbine</a>
  <a mat-list-item class='item' routerLinkActive = 'list-item-active' routerLink=''>Novi korisnici</a>
  <a mat-list-item  class='item' routerLinkActive = 'list-item-active' routerLink=''>Narudzbine na cekanju</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive = 'list-item-active' routerLink=''>Stari korisnici</a>
  <a mat-list-item routerLinkActive = 'list-item-active' routerLink=''>Prihvacene korisnici</a>


</mat-nav-list>
