<div class="top-page">
e-spajz
  <div class="wrapper">

<app-navbar></app-navbar>

    <!-- <div class="nav">
      <div class="name">
        Store name
      </div>

    <div class="menu">
      <ul>
        <li>Proizvodi</li>
        <li>Kategorije</li>
        <li>Recepti</li>
        <li>O nama</li>
        <li routerLink= '/auth'><b>Registracija</b></li>
        <li><span class="material-icons">
          shopping_cart
          </span></li>
      </ul>
    </div>
    </div>
    <div class='header'>
      <h1>Prva elektronska pijaca malih i velikih proizvođača prirodne hrane</h1>

      <p>Ukoliko ste proizvodjač i želite da izložite vaše proizvode, registrujte se kao prodavac. U slučaju da imate poljoprivredno gazdinstvo navedite njegov naziv kako bi ostali znali više o vama. Ukoliko ste pak, mali proizvođač, to bolje ne morate popuniti. Ukoliko ste kupac, biće nam drago da se registrujete, kako bi mogli da naručite robu, a i kako bismo mogli da vam preporučimo proizvode koji će vas sigurno zanimati.</p>
      <button type='button' routerLink='/auth'>PRIJAVI ME</button>
    </div> -->
  </div>
  </div>
