
<div class='container'>
  <div class='narudzbina' *ngFor='let order of orders'>
    <h5>Narudzbina: {{order.kupac.ime}} {{order.kupac.prezime}}</h5>
    <div class='header-order'>
      Kupac: {{order.kupac.ime}} {{order.kupac.prezime}}
      <p>Datum kreiranja: {{order.datumKreiranja  | date:'dd.MM.yyyy HH:mm'}}h</p>
      <p>Mesto isporuke: {{order.ulica}}, {{order.grad.naziv}}</p>
      <p>Kontakt/napomena: {{order.napomena}}</p>
      <p>Isporuka: {{order.nacinIsporuke}}</p>
      <div class='info'>
        <p *ngIf='order.odobrena' class='accepted'>Status: Odobrena ({{order.datumOdobrenja | date:'dd.MM.yyyy HH:mm'}}h)</p>
        <p *ngIf='order.datumOdobrenja===null && order.datumOdbijanja===null'>Status: Na cekanju</p>
        <p *ngIf='!order.odobrena && order.datumOdbijanja!==null' class='denied'>Status: Odbijena ({{order.datumOdbijanja | date:'dd.MM.yyyy HH:mm'}}h)</p>
      </div>
    </div>
    <table class="table">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Artikal</th>
          <th scope="col">Kolicina</th>
          <th scope="col">Ukupna vrednost(din)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let stavka of order.stavke'>
          <!-- <th scope="row">1</th> -->
          <td>{{stavka.artikal.naziv}}</td>
          <td>{{stavka.kolicina}}</td>
          <td>{{stavka.cenaStavke}}</td>
        </tr>

      </tbody>
    </table>
    <div class='managing'>
      <button type="button" class="btn btn-danger" (click)='odbijNarudzbinu(order)' *ngIf='order.datumOdbijanja===null && order.odobrena===false'>Odbij</button>
      <button type="button" class="btn btn-primary" style="float: right;" (click)='prihvatiNarudzbinu(order)' *ngIf='order.datumOdbijanja===null && order.datumOdobrenja===null' >Prihvati</button>
    </div>
    <hr>
    <hr>
  </div>


</div>
