<app-navbar></app-navbar>
<div class='container'>

  <!-- <img [src]= "formImg(profile.slika.picByte)"> -->
  <img src= '../../assets/images/profile-cover.jpg' class="img-fluid">
  <div class = 'row'>'
    <div class='card' id='card'>
      <div class='card-header'>
        <!-- <img [src]= "formProfileImg()"> -->
        <img [src] = 'formImg(profile.slika.picByte)' class="profile-img" >
      </div>
      <div class='card-body'>
        <p class='basic-info'>Ime: {{profile?.ime}} {{profile?.prezime}}</p>
        <p class='infos'>Naziv gazdinstva: {{profile?.nazivGazdinstva ? profile?.nazivGazdinstva : '/'}}</p>
        <p class='infos'>Kontakt telefon: {{profile?.kontakt}} email: {{profile?.email}}</p>
        <p class='city'>Ulica i grad: {{profile?.ulica}}, {{profile?.grad.naziv}}</p>
        <p class='infos'>Direktna isporuka: {{profile?.direktnaIsporukaMoguca === true ? 'Moguca' : 'Nije moguca'}}</p>
        <p class='infos'>Kurirska isporuka: {{profile?.kurirskaIsporukaMoguca === true ? 'Moguca' : 'Nije moguca'}}</p>
        <p class='desc'>Opis: {{profile?.opis}}</p>

      </div>

      <div class='row'>
        <div class='col'>
          <button class='prikazi-btn text-uppercase' id='prikaziArtikleBtn' type="button" (click)='ucitajProizvode();'>Prikazi artikle</button>
        </div>

      </div>
    </div>

    </div>

    <div class="row" id='productsDiv'>

      <!-- <div class=""> -->
        <div class=" col-md-3 col-sm-4 col-xs-6 product-grid" *ngFor='let p of products' (click)='prikaziDetalje(p.id)'>
            <div class="product-image">

                  <img [src]="formImg(p.slika.picByte)">

                <span class="product-trend-label">{{p.kategorija.naziv}}</span>
                <!-- <ul class="social">
                    <li><button type="button" class="button-dodaj"> Dodaj u korpu</button> </li>
                </ul> -->
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">{{p.naziv}}</a></h3>
                <div class="price">Cena: {{p.cena}} din / {{p.kolicina}}</div>
            </div>

            <!-- <hr> -->

        </div>

      </div>



</div>

