<mat-drawer-container>

  <mat-drawer mode="side" class='sidebar' [opened]='!sidebarOpened'>

    <app-sidebar></app-sidebar>
  <hr></mat-drawer>
  <mat-drawer-content #showNewCategoryForm>Main content
    Nova kategorija
    <form #formData="ngForm" (ngSubmit)="dodajNovuKategoriju(formData)">
      <div class='form-row'>
        <label for="inputNaziv">Naziv kategorije</label>
        <input type="text" class="form-control" id="naziv" placeholder="Unesite naziv kategorije" name='nazivKategorije' ngModel  #nazivKategorije='ngModel' required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputNaziv">Odaberite sliku kategorije</label>
        <input type="file" id="choose-file" class='input-frm' (change)="onFileChangedForCategory($event)">
      </div>
      <button type="submit" class="btn btn-primary">Sačuvaj i objavi kategoriju</button>
    </form>

  </mat-drawer-content>


</mat-drawer-container>
<script>
  $('#choose-file').inputFileText({
    text: 'Izaberite sliku kategorije'
  });
</script>
